li[aria-current='page']::before {
  --size: 6px;
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: calc(50% - var(--size));
  border: var(--size) solid transparent;
  border-top: var(--size) solid #a855f7;
}
